@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu' sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
    background-color:green;
    color: white;
}
.brand img{
    width: 60px;
    padding: 0 8px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: large;
}
nav ul li{
    padding: 10px;
}
.container{
    min-height: 75vh;
    background-color: blueviolet;
    color: white;
    font-family: 'Varela Round' ,sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('nasheed2.jpg');
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 70px;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bar{
    width: 80vh;
    margin-bottom: 10px;

}
.icons{
    margin-top: 14px;
}
.icon i{
    cursor: pointer;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: rgb(26, 25, 25);
   
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
}
.songitem img{
    width: 43px;
    margin: 23px 23px;
    border-radius: 20px;
}
.timestamp{
    margin: 0 23px;
  
}
.timestamp i{
    cursor: pointer;
}
.songitemcon{
    margin: 50px 0;
}
.songinfo {
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
    height: 20px;
    width: 50px;
    margin: 0 10px;
}
